@import services.BlogConfig
@(blogConfig: BlogConfig, entries: Seq[models.BlogEntry])


@main("Blog") {
    @common.navbar(blogConfig)
    <section class="section">
        <div class="container">
            <h1 class="title">@blogConfig.title</h1>
            <h2 class="subtitle">
                @blogConfig.subtitle
            </h2>
            @for(entry <- entries) {
            <ul>
                <li><a href="@entry.url">@entry.name</a></li>
            </ul>
            <div class="columns">
                <div class="column is-three-quarters">@entry.short</div>
                <!--div class="column">@entry.prettyTags</div-->
                <div class="column">@entry.prettyDate</div>
            </div>
            }
        </div>
    </section>

}
